<!DOCTYPE html>
<html lang="pt-br" ng-app="cliente-app">
<head>
    <meta charset="UTF-8">
    <title>Cliente</title>
    <script src="/www/js/lib/angular.min.js"></script>
</head>
<body ng-controller="ClienteController">
<h1>Funcionalidades do cliente</h1>
<button type="button" ng-click="setTab(1)">Novo cliente</button>
<button type="button" ng-click="setTab(2)">Listar clientes</button>
<div ng-show="compareTab(1)">
    <form>
        <h2>Novo cliente</h2>
        <input type="text" placeholder="Nome" ng-model="cliente.nome">
        <input type="text" placeholder="CPF" ng-model="cliente.cpf">
        <input type="number" placeholder="Renda" ng-model="cliente.renda">
        <button type="submit" ng-click="salvarCliente()">Salvar</button>
        <button type="reset" ng-click="cancelar()">Cancelar</button>
    </form>
</div>
<div ng-show="compareTab(2)">
    <h2>Clientes cadastrados</h2>
    <table border="1" cellpadding="10" align="center">
        <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Renda</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="c in clientes">
            <td>{{c.nome}}</td>
            <td>{{c.cpf}}</td>
            <td>{{c.renda|currency}}</td>
            <td>
                <button type="button" ng-click="selecionarCliente(c)">Editar</button>
            </td>
            <td>
                <button type="button" ng-click="deletarCliente(c.id)">Remover</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-show="compareTab(3)">
    <form>
        <h2>Editar cliente</h2>
        <input type="text" placeholder="Nome" ng-model="clienteEdit.nome">
        <input type="text" placeholder="CPF" ng-model="clienteEdit.cpf">
        <input type="number" placeholder="Renda" ng-model="clienteEdit.renda">
        <button type="submit" ng-click="editarCliente()">Editar</button>
        <button type="reset" ng-click="cancelar()">Cancelar</button>
    </form>
</div>
<script src="/www/js/app.js"></script>
<script src="/www/js/controller/cliente-controller.js"></script>
<script src="/www/js/service/cliente-service.js"></script>
</body>
</html>