<!DOCTYPE html>
<html lang="pt-br" ng-app="hotel-app">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
    <script src="/www/js/lib/angular.min.js"></script>
</head>
<body ng-controller="HotelController">
<h1>Funcionalidades do hotel</h1>
<button type="button" ng-click="setTab(1)">Novo hotel</button>
<button type="button" ng-click="setTab(2)">Listar hotéis</button>
<button type="button" ng-click="setTab(5)">Listar Reservas</button>
<div ng-show="compareTab(1)">
    <form>
        <h2>Novo hotel</h2>
        <input type="text" placeholder="Nome" ng-model="hotel.nome">
        <input type="text" placeholder="Descrição" ng-model="hotel.descricao">
        <input type="text" placeholder="Rua" ng-model="hotel.rua">
        <input type="text" placeholder="Cidade" ng-model="hotel.cidade">
        <button type="submit" ng-click="salvarHotel()">Salvar</button>
        <button type="reset" ng-click="cancelar()">Cancelar</button>
    </form>
</div>
<div ng-show="compareTab(2)">
    <h2>Hotéis cadastrados</h2>
    <table border="1" cellpadding="10" align="center">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Rua</th>
            <th>Cidade</th>
            <th>Reservar</th>
            <th>Editar</th>
            <th>Remover</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="h in hoteis">
            <td>{{h.nome}}</td>
            <td>{{h.descricao}}</td>
            <td>{{h.rua}}</td>
            <td>{{h.cidade}}</td>
            <td>
                <button type="button" ng-click="fazerReserva(h)">Reservar</button>
            </td>
            <td>
                <button type="button" ng-click="selecionarHotel(h)">Editar</button>
            </td>
            <td>
                <button type="button" ng-click="deletarHotel(h.id)">Remover</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div ng-show="compareTab(3)">
    <form>
        <h2>Editar hotel</h2>
        <input type="text" placeholder="Nome" ng-model="hotelEdit.nome">
        <input type="text" placeholder="Descrição" ng-model="hotelEdit.descricao">
        <input type="text" placeholder="Rua" ng-model="hotelEdit.rua">
        <input type="text" placeholder="Cidade" ng-model="hotelEdit.cidade">
        <button type="submit" ng-click="editarHotel()">Editar</button>
        <button type="reset" ng-click="cancelar()">Cancelar</button>
    </form>
</div>
<div ng-show="compareTab(4)">
    <form>
        <h2>Fazer reserva</h2>
        <input type="text" placeholder="Cpf do Cliente" ng-model="reserva.cpfCliente">
        <input type="text" placeholder="Hotel" ng-model="reserva.hotel.nome" disabled>
        <input type="date" placeholder="Data da reserva" ng-model="reserva.dataReservada">
        <button type="submit" ng-click="salvarReserva()">Salvar reserva</button>
        <button type="reset" ng-click="cancelar()">Cancelar</button>
    </form>
</div>
<div ng-show="compareTab(5)">
    <h2>Reservas</h2>
    <table border="1" cellpadding="10" align="center">
        <thead>
        <tr>
            <th>CPF do cliente</th>
            <th>Hotel</th>
            <th>Data da Reserva</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="r in reservas">
            <td>{{r.cpfCliente}}</td>
            <td>{{r.hotel.nome}}</td>
            <td>{{r.dataReservada|date:"dd/MM/yyyy"}}</td>
        </tr>
        </tbody>
    </table>
</div>
<script src="/www/js/app.js"></script>
<script src="/www/js/controller/hotel-controller.js"></script>
<script src="/www/js/service/hotel-service.js"></script>
</body>
</html>